<!DOCTYPE html>
<html>
  <head>
    <title>手取り計算 v0.1</title>
    <script type="text/javascript" src="{{ url_for('static', filename='show_by_id.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='hide_by_id.js') }}"></script>
  </head>
  <body>
    <h1>手取り計算 v0.1</h1>
    by <a href="https://twitter.com/4rotsugd">Shirotsu</a>
    <p>↓ 計算に必要な項目を入力してください ↓</p>
    <p></p>
    <form action="" method="post">
      <fieldset>
        <legend>額面(年収)</legend>
        <div class="tedori_param">
          <label for="gakumen">額面(年収) : </label>
          <input type="text" name="gakumen" id="gakumen" required/>
        </div>
      </fieldset>
      <fieldset>
        <legend>今年の1月1日に住民票があった市の均等割額</legend>
        <div class="tedori_param">
          <label for="kintouwari">均等割額 : </label>
          <input type="text" name="kintouwari" id="kintouwari" required/>
        </div>
      </fieldset>

      <fieldset>
        <legend>健康保険の被保険者負担率</legend>
        <div>
          自分が加入している健康保険組合の保険料率を調べ、x/1000のxの部分を入力してください。
        </div>
        <div class="tedori_param">
          <label for="kenkou_rate">一般(‰) : </label>
          <input type="text" name="kenkou_rate_ippan" id="kenkou_rate_ippan" required/>
        </div>
        <div class="tedori_param"></div>
          <label for="kenkou_rate">介護(‰) : </label>
          <input type="text" name="kenkou_rate_kaigo" id="kenkou_rate_kaigo" required/>
        </div>
      </fieldset>

      <fieldset>
        <legend>配偶者控除</legend>
        <div>
          納税者(あなた)、配偶者の年収に応じて配偶者特別控除も含んで計算します。
        </div>
        <div>
          配偶者はいますか？
        </div>
        <div>
          <input type="radio" id="haigusha_choice1" onclick="show_by_id('haigusha_gakumen_textbox')" name="haigusha" value="yes" required/>
          <label for="haigusha_choice1">います</label>

          <input type="radio" id="haigusha_choice2" onclick="hide_by_id('haigusha_gakumen_textbox')" name="haigusha" value="no" checked/>
          <label for="haigusha_choice2">いません</label>
        </div>
        <div id="haigusha_gakumen_textbox" style="display: none;">
          <label for="haigusha_gakumen">配偶者の年収 : </label>
          <input type="text" name="haigusha_gakumen" id="haigusha_gakumen"/>
        </div>
      </fieldset>

      <fieldset>
        <legend>扶養控除</legend>
        <div>
          扶養親族がいますか？
        </div>
        <div>
          <input type="radio" id="fuyoushinzoku_choice1" onclick="show_by_id('mytest')" name="fuyoushinzoku" value="yes" required/>
          <label for="fuyoushinzoku_choice1">います</label>

          <input type="radio" id="fuyoushinzoku_choice2" onclick="hide_by_id('mytest')" name="fuyoushinzoku" value="no" checked/>
          <label for="fuyoushinzoku_choice2">いません</label>
        </div>
        <div id="mytest" style="display: none;">
          abcde
        </div>

      </fieldset>
      <div class="tedori_param">
        <input type="submit" value="計算" />
      </div>
    </form>
  </body>
</html>
